@mixin LabelBlock() {
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  cursor: pointer;
  position: relative;
}

@mixin LabelBg() {
  width: 9px;
  height: 9px;
  background-color: #00B533;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table_block {
  background-color: #F8F8F8;

  header {
    padding: 40px 30px 20px;
    @media screen and (max-width: 768px){
      padding: 40px 10px 20px;
    }
  }
  main {
    padding: 2px;
  }

  .table_item {
    display: flex;
    padding-bottom: 10px;

    &.borderBt {
      border-bottom: 1px solid #000;
    }

    &.bottom_item {
      background-color: #FDFDFD;
      padding: 20px 30px;
      margin: 3px 0;
      transition: .6s ease-in-out;
      @media screen and (max-width: 768px){
        padding: 10px;
      }

      &:hover {
        background-color: #ffffffff;

        .modal_icon {
          div {
            background-color: #00B533;
            color: #fff;
          }
        }
      }
    }

    &.tHead {
      font-family: SF Pro Display,sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0;

      @media screen and (max-width: 768px){
        font-size: 16px;
      }
    }

    .checkUser {
      width: 5%;
      display: flex;
      align-items: center;

      .labelWrap {
        @include LabelBlock();

        &.marginTopCheck {
          margin-left: 2px;
        }

        .labelBg {
          @include LabelBg()
        }
      }
      @media screen and (max-width: 768px){
        margin-right: 5px;
      }
    }

    .userData {
      width: 30%;

      .bottomUser {
        display: flex;
        align-items: center;

        .userLogo {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          background-color: #F8F8F8;
          cursor: pointer;
          margin-right: 1rem;
          color: #474747;
        }

        .dataUser {
          div:first-child {
            font-family: SF Pro Display, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: -0.07230269908905029px;
            @media screen and (max-width: 768px){
              font-size: 16px;
            }
          }
          div:last-child {
            font-family: SF Pro Display, sans-serif;
            margin-top: 10px;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0;
          }
        }
        @media screen and (max-width: 768px){
          flex-direction: column;
          align-items: flex-start;

          .userLogo {
            width: 40px;
            height: 40px;
            font-size: 18px;
          }
        }
      }
    }

    .telegram {
      width: 20%;

      .bottom_tg {
        font-family: SF Pro Display, sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0;
        div {
          margin: 10px 0;
        }

        @media screen and (max-width: 768px){
          font-size: 14px;
        }
      }
    }

    .courses {
      width: 15%;

      .bottom_courses {
        font-family: SF Pro Display, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: -0.07230269908905029px;
        padding-left: 1.5rem;
        transform: translateY(70%);
        @media screen and (max-width: 768px){
          font-size: 16px;
          transform: translateY(150%);
        }
      }
    }

    .hisob {
      width: 20%;

      .bottom_shot {
        div:first-child {
          font-family: SF Pro Display, sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
          letter-spacing: -0.07230269908905029px;
          @media screen and (max-width: 768px){
            font-size: 15px;
            line-height: 24px;
          }
        }
        div:last-child {
          font-family: SF Pro Display, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0;
        }
      }
    }

    .modal_icon {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        width: 50px;
        transition: .8s ease-in-out;
        height: 50px;
        border-radius: 50%;
        background-color: #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #898989;
        cursor: pointer;
        @media screen and (max-width: 768px){
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}