@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

@font-face {
    font-family: SF Pro Display;
    src: url("./assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: SF Pro Display Semi;
    src: url("./assets/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body, .row {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
    background-color: #000;
}

html {
    scroll-behavior: smooth;
}
